/* each box set position */
.boxshz /* sharhe zendegi */
{
    top: 7%;
}
.boxshh
{
    top: 16.4%;
}
.boxkh
{
    top: 25.8%;
}
.boxna
{
    top: 35.2%;
}
.boxhk
{
    top: 54%;
}
.boxman
{
    top: 63.4%;
}

.boxakh
{
    top: 21%;
    right: 13%;
}
.boxhes
{
    top: 32%;
    right: 13%;
}
.boxmkh
{
    top: 43%;
    right: 13%;
}
.boxtkh
{
    top: 54%;
    right: 13%;
}
.boxsst
{
    top: 65%;
    right: 13%;
}
.boxarz
{
    top: 21%;
    right: 26%;
}